# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

gitlab:
  webservice:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-webservice
      tag: 17.8.0
    workhorse:
      image: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-workhorse
      # renovate: datasource=docker depName=registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-workhorse versioning=semver
      tag: 17.8.1
  sidekiq:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-sidekiq
      tag: 17.8.0
  migrations:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-toolbox
      tag: 17.8.0
  gitaly:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitaly
      tag: 17.8.1
      # Note, the registry1 flavor is missing the cgroups init image because it's not in ironbank
  gitlab-exporter:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-exporter
      tag: 17.8.1
  gitlab-pages:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-pages
      tag: 17.8.1
  gitlab-shell:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-shell
      tag: 17.8.1
  praefect:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitaly
      tag: 17.8.1
  toolbox:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-toolbox
      tag: 17.8.0

global:
  certificates:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/certificates
      tag: 17.8.1
  gitlabBase:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-base
      tag: 17.8.1
  kubectl:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/kubectl
      tag: 17.8.1

registry:
  image:
    repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-container-registry
    tag: 17.8.1

shared-secrets:
  selfsign:
    image:
      repository: registry1.dso.mil/ironbank/gitlab/gitlab/cfssl-self-sign
      tag: 1.6.1

upgradeCheck:
  image:
    repository: registry1.dso.mil/ironbank/gitlab/gitlab/gitlab-base
    tag: 17.8.1
