gitlab:
  webservice:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-webservice-ee
      tag: v17.3.6
    workhorse:
      image: registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ee
      # renovate: datasource=docker depName=cgr.dev/du-uds-defenseunicorns/gitlab-workhorse-ee-fips versioning=semver
      tag: v17.3.6
  sidekiq:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-sidekiq-ee
      tag: v17.3.6
  migrations:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
      tag: v17.3.6
  gitaly:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitaly
      tag: v17.3.6
  gitlab-exporter:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/gitlab-exporter-fips
      tag: 17.3.6
  gitlab-pages:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/gitlab-pages-fips
      tag: 17.3.6
  gitlab-shell:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/gitlab-shell-fips
      tag: 17.3.6
  praefect:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitaly
      tag: v17.3.6
  toolbox:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
      tag: v17.3.6
global:
  certificates:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/gitlab-certificates-fips
      tag: 17.3.6
  gitlabBase:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/gitlab-base-fips
      tag: 17.3.6
  kubectl:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/gitlab-kubectl-fips
      tag: 1.31.1

registry:
  image:
    repository: cgr.dev/du-uds-defenseunicorns/gitlab-container-registry-fips
    tag: 17.3.6

shared-secrets:
  selfsign:
    image:
      repository: cgr.dev/du-uds-defenseunicorns/cfssl-self-sign-fips
      tag: 17.3.6

upgradeCheck:
  image:
    repository: cgr.dev/du-uds-defenseunicorns/gitlab-base-fips
    tag: 17.3.6
