# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

gitlab:
  webservice:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-webservice-ee
      tag: v17.5.2
    workhorse:
      image: registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ee
      # renovate: datasource=docker depName=registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ee versioning=semver
      tag: v17.5.2
  sidekiq:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-sidekiq-ee
      tag: v17.5.2
  migrations:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
      tag: v17.5.2
  gitaly:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitaly
      tag: v17.5.2
    cgroups:
      initContainer:
        image:
          repository: registry.com/gitlab-org/build/cng/gitaly-init-cgroups
          tag: v17.5.2
  gitlab-exporter:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-exporter
      tag: v17.5.2
  gitlab-pages:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-pages
      tag: v17.5.2
  gitlab-shell:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-shell
      tag: v17.5.2
  praefect:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitaly
      tag: v17.5.2
  toolbox:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
      tag: v17.5.2

global:
  certificates:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/certificates
      tag: v17.5.2
  gitlabBase:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-base
      tag: v17.5.2
  kubectl:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/kubectl
      tag: v17.5.2

registry:
  image:
    repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-container-registry
    tag: v17.5.2

shared-secrets:
  selfsign:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/cfssl-self-sign
      tag: v17.5.2

upgradeCheck:
  image:
    repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-base
    tag: v17.5.2
