gitlab:
  webservice:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-webservice-ee
      tag: v17.4.0
    workhorse:
      image: registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ee
      # renovate: datasource=docker depName=registry.gitlab.com/gitlab-org/build/cng/gitlab-workhorse-ee versioning=semver
      tag: v17.4.0
  sidekiq:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-sidekiq-ee
      tag: v17.4.0
  migrations:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
      tag: v17.4.0
  gitaly:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitaly
      tag: v17.4.0
  gitlab-exporter:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-exporter
      tag: v17.4.0
  gitlab-pages:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-pages
      tag: v17.4.0
  gitlab-shell:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-shell
      tag: v17.4.0
  praefect:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitaly
      tag: v17.4.0
  toolbox:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-toolbox-ee
      tag: v17.4.0

global:
  certificates:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/certificates
      tag: v17.4.0
  gitlabBase:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-base
      tag: v17.4.0
  kubectl:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/kubectl
      tag: v17.4.0

registry:
  image:
    repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-container-registry
    tag: v17.4.0

shared-secrets:
  selfsign:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/cfssl-self-sign
      tag: v17.4.0

upgradeCheck:
  image:
    repository: registry.gitlab.com/gitlab-org/build/cng/gitlab-base
    tag: v17.4.0
