**/*.tfstate
**/*.tfstate.backup
*.tar.gz
*.tar.zst
~/
.DS_Store
defense-unicorns-distro/preflight.sh
.terraform
tmp
zarf-sbom
.vscode/
.cache/
.idea/
build/
.DS_Store
*.tar.zst
zarf-sbom
tmp/
values-*.yaml
overlay-values-*
upgrade-test/
# Tests
node_modules/
tests/node_modules/*
tests/node_modules/**/*
.playwright/
tests/.playwright/*
tests/.playwright/**/*
tests/data/gitlab-test-ssh-key
tests/data/gitlab-test-ssh-key.pub
tests/data/uds-package-test-*
