includes:
  - dependencies: ./dependencies.yaml
  - create: https://raw.githubusercontent.com/defenseunicorns/uds-common/7e7b286ae154787f8e0d9ce80a69e1fd441ced45/tasks/create.yaml
  - publish: https://raw.githubusercontent.com/defenseunicorns/uds-common/7e7b286ae154787f8e0d9ce80a69e1fd441ced45/tasks/publish.yaml

tasks:
  - name: package
    description: Build and publish the packages
    actions:
      - description: Create the AMD64 package
        task: create:package
        with:
          options: -a amd64

      - description: Create the ARM64 package
        task: create:package
        with:
          options: -a arm64

      - description: Publish the packages
        task: publish:package
        with:
          # x-release-please-start-version
          version: "16.9.2-uds.0"
          # x-release-please-end

  - name: test-bundle
    description: Build and publish the test-bundle
    actions:
      - description: Create the ARM64 deps package
        task: dependencies:create
        with:
          options: -a amd64

      - description: Create the ARM64 deps package
        task: dependencies:create
        with:
          options: -a arm64

      - description: Create the AMD64 test bundle
        task: create:test-bundle
        with:
          options: -a amd64

      - description: Create the ARM64 test bundle
        task: create:test-bundle
        with:
          options: -a arm64

      - description: Publish the bundle
        task: publish:test-bundle
        with:
          # x-release-please-start-version
          version: "16.9.2-uds.0"
          # x-release-please-end
