includes:
  - dependencies: ./dependencies.yaml
  - create: https://raw.githubusercontent.com/defenseunicorns/uds-common/v0.4.0/tasks/create.yaml
  - publish: https://raw.githubusercontent.com/defenseunicorns/uds-common/v0.4.0/tasks/publish.yaml

tasks:
  - name: package
    description: Build and publish the packages
    actions:
      - description: Create the AMD64 package
        task: create:package
        with:
          architecture: amd64

      - description: Create the ARM64 package
        task: create:package
        with:
          architecture: arm64

      - description: Publish the packages
        task: publish:package
        with:
          # x-release-please-start-version
          version: "16.11.1-uds.0"
          # x-release-please-end

  - name: test-bundle
    description: Build and publish the test bundles
    actions:
      - description: Create the ARM64 deps package
        task: dependencies:create
        with:
          architecture: amd64

      - description: Create the ARM64 deps package
        task: dependencies:create
        with:
          architecture: arm64

      - description: Create the AMD64 bundle
        task: create:test-bundle
        with:
          architecture: amd64

      - description: Create the ARM64 bundle
        task: create:test-bundle
        with:
          architecture: arm64

      - description: Publish the bundles
        task: publish:test-bundle
        with:
          # x-release-please-start-version
          version: "16.11.1-uds.0"
          # x-release-please-end
