variables:
  - name: TARGET_REPO
    default: oci://ghcr.io/defenseunicorns/packages/uds

  - name: VERSION
    description: The version of the package to build
    # x-release-please-start-version
    default: "16.5.1-3"
    # x-release-please-end

tasks:
  - name: package
    description: Build and publish the packages
    actions:
      - description: Create the packages
        cmd: |
          set -e
          ZARF_ARCHITECTURE=amd64 uds run -f tasks/create.yaml gitlab-package --no-progress
          ZARF_ARCHITECTURE=arm64 uds run -f tasks/create.yaml gitlab-package --no-progress
      
      - description: Publish the packages
        cmd: |
          set -e
          zarf package publish zarf-package-gitlab-amd64-${VERSION}.tar.zst ${TARGET_REPO}
          zarf package publish zarf-package-gitlab-arm64-${VERSION}.tar.zst ${TARGET_REPO}
