includes:
  - publish: https://raw.githubusercontent.com/defenseunicorns/uds-common-tasks/v0.1.2/tasks/publish.yaml

variables:
  - name: TARGET_REPO
    default: oci://ghcr.io/defenseunicorns/packages/uds

  - name: VERSION
    description: The version of the package to build
    # x-release-please-start-version
    default: "16.8.1-uds.4"
    # x-release-please-end
  
  - name: FLAVOR
    default: "registry1"

tasks:
  - name: package
    description: Build and publish the packages
    actions:
      - description: Create the packages
        cmd: |
          set -e
          ZARF_ARCHITECTURE=amd64 uds run -f tasks/create.yaml gitlab-package --no-progress --set FLAVOR=${FLAVOR}
          ZARF_ARCHITECTURE=arm64 uds run -f tasks/create.yaml gitlab-package --no-progress --set FLAVOR=${FLAVOR}

      - description: Publish the packages
        task: publish:package