apiVersion: uds.dev/v1alpha1
kind: Package
metadata:
  name: gitlab
  namespace: {{ .Release.Namespace }}
spec:
  {{- if .Values.sso }}
  sso:
    - name: Gitlab SSO
      clientId: uds-core-gitlab
      redirectUris:
        - "https://gitlab.{{ .Values.domain }}/users/auth/openid_connect/callback"
  {{- end }}
  network:
    expose:
      - service: gitlab-webservice-default
        selector:
          app: webservice
        host: gitlab
        gateway: tenant
        port: 8181
      - service: gitlab-gitlab-pages
        podLabels:
          app: gitlab-pages
        host: "*.pages"
        gateway: tenant
        port: 8090
      - service: gitlab-registry
        selector:
          app: registry
        host: registry
        gateway: tenant
        port: 5000
    allow:
      - direction: Ingress
        remoteGenerated: IntraNamespace

      - direction: Ingress
        # todo: this should be scoped when we know where the runner is
        selector:
          app: webservice
        port: 8181
        description: "Runner Ingress Workhorse"

      - direction: Ingress
        remoteNamespace: monitoring
        remoteSelector:
          app: prometheus
        selector:
          app: gitlab-exporter
        port: 9168
        description: "Monitoring Exporter"

      - direction: Ingress
        selector:
          app: runner
        remoteNamespace: monitoring
        remoteSelector:
          app: prometheus

        port: 9252
        description: "Monitoring Runner"

      - direction: Egress
        selector:
          app: registry
        remoteGenerated: Anywhere
        description: "Registry Storage"

      - direction: Egress
        selector:
          app: sidekiq
        remoteGenerated: Anywhere
        description: "Sidekiq Storage"

      - direction: Egress
        selector:
          app: migrations
        remoteGenerated: Anywhere
        description: "Migrations Storage"
      
      - direction: Egress
        selector:
          app: toolbox
        remoteGenerated: Anywhere
        description: "Toolbox egress to database, redis and storage"

      - direction: Egress
        remoteGenerated: IntraNamespace

      - direction: Egress
        # todo: this is over permissive, need to scope it down
        remoteGenerated: KubeAPI

      - direction: Egress
        remoteNamespace: tempo
        remoteSelector:
          app.kubernetes.io/name: tempo
        port: 9411
        description: "Tempo"

      - direction: Egress
        selector:
          app: webservice
        port: 443
        description: "SSO"

      - direction: Egress
        selector:
          app: webservice
        remoteGenerated: Anywhere
        description: "Webservice Storage"

      - direction: Ingress
        podLabels:
          app: gitlab-pages
        port: 8090
        description: GitLab Pages Ingress

      - direction: Egress
        podLabels:
          app: gitlab-pages
        remoteGenerated: Anywhere
        description: "GitLab Pages Storage"
