# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

domain: "###ZARF_VAR_DOMAIN###"

# contents of a gitlab license, if available
license: ""

ssh:
  enabled: false
  port: 2222

sso:
  enabled: true
  protocol: saml
  secretName: gitlab-sso
  # Note: the following settings only apply when using `saml`
  requiredGroups: []
  adminGroups: ["/GitLab Admin", "/UDS Core/Admin"]
storage:
  internal: true  # Set to false to use external storage
  selector:
    app: minio
  namespace: minio
  port: 9000
  endpoint: "http://uds-minio-hl.minio.svc.cluster.local:9000"
  createSecret:
    enabled: true
    useIAMProfile: false
    accessKey: ""
    secretKey: ""
    bucketPrefix: "###ZARF_VAR_BUCKET_PREFIX###"
    bucketSuffix: "###ZARF_VAR_BUCKET_SUFFIX###"
    region: "###ZARF_VAR_REGION###"
    provider: "minio"  # aws or minio; if aws, assumed IRSA is used, and annotations are passed to necessary service accounts
    secretRef:
      enabled: true  # Set to true to use secret reference
      secretNamespace: "gitlab"
      secretName: "gitlab-minio"
      secretIDKey: "access_key"
      secretPasswordKey: "secret_key"


objectStore:
  provider: "minio"  # or "aws"

  region: "minio" # or AWS region e.g., "us-west-2"
  endpoint: "http://minio.minio.svc.cluster.local:9000"
 # Only for AWS provider
  credential:
    # Use this for direct keys
    accessKey: "###ZARF_VAR_ACCESS_KEY###"
    secretKey: "###ZARF_VAR_SECRET_KEY###"
    # Use this for secret reference



redis:
  password: ""

  # Set to false to use external redis
  internal: true
  selector:
    app.kubernetes.io/name: valkey
  namespace: valkey
  port: 6379
postgres:
  password: ""

  # Set to false to use external postgres
  internal: true
  selector:
    cluster-name: pg-cluster
  namespace: postgres
  port: 5432
runner:
  internal: true
  selector:
    app: gitlab-runner
  namespace: gitlab-runner
  sandboxNamespace: gitlab-runner-sandbox

# Gitaly is responsible for mirroring actions, and there are 4 valid protocols with the following ports
# ssh: 22
# http: 80
# https: 443
# git: 9418
mirroring:
  enabled: false
  ports:
    - 443

# custom:
#    # Notice no `remoteGenerated` field here on custom internal rule
#   - direction: Ingress
#     selector:
#       app: jenkins
#     remoteNamespace: jenkins
#     remoteSelector:
#       app: jenkins
#     port: 8180
#     description: "Ingress to Jenkins"
#   # No `remoteNamespace`, `remoteSelector`, or `port` fields on rule to `remoteGenerated`
#   - direction: Egress
#     selector:
#       app: webservice
#     remoteGenerated: Anywhere
#     description: "Egress from Webservice"
