global:
  kubectl:
    image:
      repository: registry.gitlab.com/gitlab-org/build/cng/kubectl
      tag: v17.2.4


botAccounts:
  - username: renovatebot
    secret:
      name: gitlab-renovatebot
      namespace: renovate
      keyName: TOKEN
  - username: anotherbot
    secret:
      name: gitlab-otherbotbot
      namespace: otherbot
      keyName: TOKEN

  # -- list of accounts
  #   username
  #   namespace
  #   secret name

  #   ^ create a new job to go over these and make it happen (create the user and the pat, persist to secret)
  #     will need to be similar to settings-pod.tpl but use a different service account

  #   -- use helm templating to range over the list and create the namespaces

settingsJob:
  enabled: true
  schedule: "0 2 * * *"  # Run at 2:00 AM every day
  # Settings here come from: https://docs.gitlab.com/ee/api/settings.html
  # NOTE: These keys are converted to a JSON object that is converted to query
  # parameters later on so any nested objects/arrays should be encoded as a
  # string query parameter instead of their full type.
  application:
    default_snippet_visibility: private
    default_project_visibility: private
    default_group_visibility: private
    # restricted_visibility_levels is actually an array but is a single element string to work here
    restricted_visibility_levels: public
    enabled_git_access_protocol: http
    rsa_key_restriction: 2048
    ecdsa_key_restriction: 256
    ecdsa_sk_key_restriction: 256
    ed25519_key_restriction: -1
    ed25519_sk_key_restriction: -1
    dsa_key_restriction: -1
    disable_feed_token: true
    gravatar_enabled: false
    signup_enabled: false
    email_confirmation_setting: hard
    password_authentication_enabled_for_web: false
    password_authentication_enabled_for_git: false
    minimum_password_length: 16
    password_number_required: true
    password_symbol_required: true
    password_uppercase_required: true
    password_lowercase_required: true
    admin_mode: true
    notify_on_unknown_sign_in: true
    dns_rebinding_protection_enabled: true
    throttle_authenticated_api_enabled: true
    throttle_authenticated_api_period_in_seconds: 3600
    throttle_authenticated_api_requests_per_period: 7200
    throttle_authenticated_packages_api_enabled: true
    throttle_authenticated_packages_api_period_in_seconds: 3600
    throttle_authenticated_packages_api_requests_per_period: 7200
    throttle_authenticated_web_enabled: true
    throttle_authenticated_web_period_in_seconds: 3600
    throttle_authenticated_web_requests_per_period: 7200
    throttle_unauthenticated_api_enabled: true
    throttle_unauthenticated_api_period_in_seconds: 3600
    throttle_unauthenticated_api_requests_per_period: 3600
    throttle_unauthenticated_packages_api_enabled: true
    throttle_unauthenticated_packages_api_period_in_seconds: 3600
    throttle_unauthenticated_packages_api_requests_per_period: 3600
    throttle_unauthenticated_web_enabled: true
    throttle_unauthenticated_web_period_in_seconds: 3600
    throttle_unauthenticated_web_requests_per_period: 3600
    usage_ping_enabled: false
    include_optional_metrics_in_service_ping: false
    version_check_enabled: false
