name: Metadata

on:
  # This workflow is triggered on pull requests to the main branch.
  pull_request:
    branches: [main]
    types: [milestoned, opened, edited, synchronize]

  # This allows other repositories to call this workflow in a reusable way
  workflow_call:

jobs:
  validate:
    name: Validate
    uses: defenseunicorns/uds-common/.github/workflows/commitlint.yaml@c78f3036b682968bb32feb6b585199b38d87b101
