# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Scan

on:
  # This workflow is triggered on pull requests to the main branch.
  pull_request:
    paths:
      - zarf.yaml
      - releaser.yaml
      - .release-please-manifest.json

jobs:
  scan:
    permissions:
      contents: read # Allows reading the content of the repository.
      packages: read # Allows reading the content of the repository's packages.
      id-token: write # Allows authentication to Chainguard via OIDC.
      pull-requests: write # Allows writing the scan results comment to the pull request.
    uses: defenseunicorns/uds-common/.github/workflows/callable-scan.yaml@c12c3d15f2655420ae2be8da400daae0919f6f3d # v1.21.3
    secrets: inherit # Inherits all secrets from the parent workflow.
