# Copyright 2024 Defense Unicorns
# SPDX-License-Identifier: AGPL-3.0-or-later OR LicenseRef-Defense-Unicorns-Commercial

name: Test

on:
  # This workflow is triggered on pull requests to the main branch.
  pull_request:
    # milestoned is added here as a workaround for release-please not triggering PR workflows (PRs should be added to a milestone to trigger the workflow).
    types: [milestoned, opened, reopened, synchronize]
    paths-ignore:
      - "**.md"
      - "**.jpg"
      - "**.png"
      - "**.gif"
      - "**.svg"
      - adr/**
      - docs/**
      - .gitignore
      - renovate.json
      - .release-please-config.json
      - release-please-config.json
      - CODEOWNERS
      - LICENSE
      - CONTRIBUTING.md
      - SECURITY.md

# Permissions for the GITHUB_TOKEN used by the workflow.
permissions:
  contents: read # Allows reading the content of the repository.
  packages: read # Allows reading the content of the repository's packages.
  id-token: write

# Abort prior jobs in the same workflow / PR
concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check-flavor:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@eef61447b9ff4aafe5dcd4e0bbf5d482be7e7871 # v4.2.1

      - name: test-flavor
        uses: defenseunicorns/uds-common/.github/actions/test-flavor@97fc3a00fb2b9897316131cd210026691e160d5a # v1.1.1
        id: test-flavor
    outputs:
      upgrade-flavors: ${{ steps.test-flavor.outputs.upgrade-flavors }}

  validate:
    needs: check-flavor
    strategy:
      fail-fast: false
      matrix:
        type: [install, upgrade]
        flavor: [upstream, registry1]
    uses: defenseunicorns/uds-common/.github/workflows/callable-test.yaml@97fc3a00fb2b9897316131cd210026691e160d5a # v1.1.1
    with:
      upgrade-flavors: ${{ needs.check-flavor.outputs.upgrade-flavors }}
      flavor: ${{ matrix.flavor }}
      type: ${{ matrix.type }}
      runsOn: uds-swf-ubuntu-big-boy-8-core
      timeout: 30
    secrets: inherit # Inherits all secrets from the parent workflow.
