name: Test package

on:
  # Manual trigger
  workflow_dispatch:

  # Triggered by pull-request-conditionals.yaml
  workflow_call:

# Abort prior jobs in the same workflow / PR
concurrency:
  group: test-${{ github.ref }}-${{ inputs.package }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  test:
    runs-on: "ubuntu-latest" #"uds-ubuntu-big-boy-8-core"
    timeout-minutes: 15
    name: Test

    steps:
      - name: Checkout repository
        uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1

      - name: Environment setup
        uses: ./.github/actions/setup
      
      - name: Setup cluster
        run: uds run setup-cluster
      
      - name: Create test bundle
        run: uds run create-test-bundle
      
      - name: Test package
        run: uds run test-package
      
      - name: Cleanup
        if: always()
        run: uds run cleanup

      - name: Save logs
        if: always()
        uses: ./.github/actions/save-logs
